tensorflow~=2.10.0
pandas~=1.5.0
numpy~=1.23.3
pyYAML~=6.0
tqdm~=4.64.1
ensure==1.0.2
joblib~=1.2.0
mlflow~=1.29.0
streamlit~=1.13.0
scikit-learn~=1.1.2
-e .
deepclassifier~=0.0.0
pytest~=7.1.3
setuptools~=63.4.1
pillow~=9.2.0
python-dotenv~=0.21.0